<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Required meta tags-->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Title Page-->
      <title>Đăng ký</title>

      <!-- Icons font CSS-->
      <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
      <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
      <!-- Font special for pages-->
      <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" type="text/css">

      <!-- Vendor CSS-->
      <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
      <link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

      <!-- Main CSS-->
      <link href="/assets/css/register.css" rel="stylesheet" media="all">
  </head>

  <body>
      <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
          <div class="wrapper wrapper--w680">
              <div class="card card-4">
                  <div class="card-body">
                      <h2 class="title">ĐĂNG KÝ</h2>
                      <form method="POST" action="">
                          <div class="row row-space">
                              <div class="col-2">
                                  <div class="input-group">
                                      <label class="label">username</label>
                                      <input class="input--style-4" type="text" name="first_name">
                                  </div>
                              </div>
                              <div class="col-2">
                                  <div class="input-group">
                                      <label class="label">mật khẩu</label>
                                      <input class="input--style-4" type="password" name="last_name">
                                  </div>
                              </div>
                          </div>
                          <div class="row row-space">
                              <div class="col-2">
                                  <div class="input-group">
                                      <label class="label">ngày sinh</label>
                                      <div class="input-group-icon">
                                          <input class="input--style-4 js-datepicker" type="text" name="birthday">
                                          <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-2">
                                  <div class="input-group">
                                      <label class="label">giới tính</label>
                                      <div class="p-t-10">
                                          <label class="radio-container m-r-45">Nam
                                              <input type="radio" checked="checked" name="gender">
                                              <span class="checkmark"></span>
                                          </label>
                                          <label class="radio-container">Nữ
                                              <input type="radio" name="gender">
                                              <span class="checkmark"></span>
                                          </label>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row row-space">
                              <div class="col-2">
                                  <div class="input-group">
                                      <label class="label">Email</label>
                                      <input class="input--style-4" type="email" name="email">
                                  </div>
                              </div>
                              <div class="col-2">
                                  <div class="input-group">
                                      <label class="label">Tên hiển thị</label>
                                      <input class="input--style-4" type="text" name="phone">
                                  </div>
                              </div>
                          </div>
                          <div class="p-t-15">
                              <button class="btn btn--radius-2 btn--blue" type="submit">Đăng Ký</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>

      <!-- Jquery JS-->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <!-- Vendor JS-->
      <script src="/vendor/select2/select2.min.js"></script>
      <script src="/vendor/datepicker/moment.min.js"></script>
      <script src="/vendor/datepicker/daterangepicker.js"></script>

      <!-- Main JS-->
      <script src="/assets/js/register.js"></script>

  </body>

</html>
<!-- end document-->